<div class="uk-container">
  <h2>New Task</h2>

  <%= render "form.html", Map.put(assigns, :action, task_path(@conn, :create)) %>
  <br />
  <span><%= link "Back", to: task_path(@conn, :index), class: "uk-button uk-button-default" %></span>
</div>